
<footer>
    <ul class="info">
        <li>Contactanos</li>
        <li>Servicios</li>        
    </ul>

    <ul class="info">
        <li>Sucursales</li>
        <li>Soporte</li>
    </ul>

    <ul class="info">
        <li>Envios</li>
        <li>Trabaja con Nosotros</li>
    </ul>

    <ul class="info">
        <li>Siguenos</li>
        <li>
            <img class="logo" src="/imagenes/facebook.png" alt="Facebook">
            <img class="logo" src="/imagenes/instagram.png" alt="Instagram">
        </li>
    </ul>
</footer>
