

    <nav class="fondo1">
        <div class="bloque">
            <a href="#"><img class="imgndx1" src="/imagenes/Samsung.jpg" alt="Samsung"></a>
            <a href="#"><img class="imgndx3" src="/imagenes/SamsungFont.jpg" alt="SamsungFont"></a>
        </div>
        <div class="bloque">
            <a href="#"><img class="imgndx1" src="/imagenes/Apple.jpg" alt="Apple"></a>
            <a href="#"><img class="imgndx3" src="/imagenes/AppleFont.jpg" alt="AppleFont"></a>
        </div>
        <div class="bloque">
            <a href="#"><img class="imgndx1" src="/imagenes/Xiaomi.jpg" alt="Xiaomi"></a>
            <a href="#"><img class="imgndx3" src="/imagenes/XiaomiFont.jpg" alt="XiaomiFont"></a>
        </div>
    </nav>
